
/*set font style and font size */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    
}

    
header {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 40px;
}
   
h1 {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 28px;
}

button {
    margin-bottom: 20px;
    background-color:#99ced3 ;
}

/*navigation bar */
.navbar {
    background-color: #99ced3;
    color: #ffffff;
 
  }
/*sticky footer */
footer {
    background-color: #99ced3;
    color: #ffffff;
    margin: 30px;
 
}

.display {
    display: flex;
}

/*grid system */
.container {
    margin-top: 30px;
    margin-left: 20px;
    width: 100%;

}


/*photo */
.oceanimage {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
}
 

  @media (max-width: 480px) {
    body {
        background-image: url(../image/shifaaz-shamoon-okVXy9tG3KY-unsplash.jpg); 
        /*different backgroung image for smaller screen */
        background-size: cover;
        color: #ffffff;
      }
      
  
   
  }
  
  @media (max-width: 767px) {
    body {
      background-image: url(../image/shifaaz-shamoon-okVXy9tG3KY-unsplash.jpg);
      /*different backgroung image for smaller screen */
      background-size: cover;
      color: #ffffff;
    }

    img {
        display: none;
    }

    .container {
        width: 100%;
    }

  }