 
 html {
  height: 100%;
}


@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}


body {
  /* background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%); */
  font-family: Georgia, 'Times New Roman', Times, serif; /*set font*/
  font-size: 22px; /*set font size */
  /* background-color:#030321; */
  /* color: #FFEEEE; */
}

.title{
    margin-top: 20px;
    display: block;
    text-align: center;
  
}
.first-row{
  margin-top: 50px;
}
h3 {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.hello{
  text-align: center;
}

h4 {
    text-align: center;
    padding: 20px;
}

/*biography photo */
.img-thumbnail {
    float: left;
    margin-left:20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 70%;
    border-radius: 10;
    animation-delay: 2s ;
    
}
.bg-transparent{
  background-color: transparent;
}

.bg-white{
  background-color: white;
}
/*navigation bar*/
.navbar {
    background-color: transparent;
    box-shadow: 2px 2px 15px grey;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4.2em;
    z-index: 3;
    text-align: right;
    z-index: 999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none !important;
    max-width: 1280px;
    margin: 0 auto;
  }

#menu a.nav-link:hover{
  /* color: rgb(235, 118, 177); */
  background-color: #b3b6b8;
  /* border: darkgrey 1px solid;
  border-radius: 3px; */

}
.navbar-text{
    color: black;
    font-size: 40px;
}
  /*sticky footer */
footer {
    margin-top: 100vh;
    padding: 2em 0;
    background-color :#1b688a;
    box-shadow: 0 0 1em rgba(0,0,0,0.6);
    font-weight: 400;
    font-size: 30px;
    text-align: right;
    max-width: 1280px;
    margin: auto;
}
.text{
  color: #FFF;
}
.header-img {
  background-image: url(../image/surf-me.JPG);
  height: 60vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* margin-top: 20px; */
  margin-left: 0;
  margin-right: 0;
}

.title {
  color: #FFF;

}

#links{
    margin-top: 20px;
    width: 70%;
    margin-left:20px;
    margin-right: 20px;
}
#subcol-links i.link:hover{
  /* color: rgb(235, 118, 177); */
  background-color: #b3b6b8;
}
 a{
    color: #111; 
}

#bootstrap-container {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
}

.fade{
  animation: 1s fadeIn forwards;
}
#photo-fadein{
  animation-delay: 1.5s;
}
#bio-fadein{
  animation-delay: 2s;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
    transform: scale3d(.75, .75, 1);
  }

  70%{
    opacity: 0;
    transform: scale3d(.75, .75, 1);
  }

  100%{
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}





/*media ruqries */
@media screen and (max-width: 767px) {

    
        

    body {
        font-size: 18px;
    } 
    #menu{
      background-color:#bbe6f7;
      padding-right: 20px;
     
      }
    
    
   
}
 

@media screen and (max-width: 480px) {

 body {
        font-size: 18px ;
    
    }
 #subcol-image{
        display: flex;
        

    }
 footer{
      text-align: center;
      font-size: 24px;

    }

   
  .navbar-text{
  font-size: 36px;

  }
  #menu{
  background-color:#bbe6f7;
  padding-right: 20px;
 
  }
  h4 {
   font-size: 28px;
}
p{
  padding-left: 20px;
  padding-right: 20px;
}

}